@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #D8DFE8;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
}

.cabecalho-imagem {
    width: 120px;
    height: 48px;
}

.cabecalho-titulo {
    display: flex;
    gap: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: darkblue;
}


.conteudo {
    margin-bottom: 40px;
    border-top: 0.5 solid;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.conteudo-texto {
    display: flex;
    flex-direction: row;
    gap: 32px;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: #D8DFE8;
}

.conteudo-textarea-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudo-botoes  {
    display: flex;
    flex-direction: column;
    background-color: #D8DFE8;
    width: 680px;
    height: 100px;
    border: none;
}