@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: #98ABEE;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
}

.cabecalho__imagem {
    width: 120px;
    height: 48px;
}

.cabecalho__titulo {
    display: flex;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.conteudo__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2% 0 0 4%;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    margin-right: 10;

}

.conteudo__input .input {
    width: 400px;
    height: 330px;

}

#input__texto {
    width: 345px;
    height: 330px;
    font-size: 20px;
    color: #082eb9;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: 0;
    padding: 10px;
    text-transform: lowercase;
}

#output {
    display: flex;
    flex-direction: column;
    border: 3px solid #082eb9;
}